altair                   
asttokens                 
attrs                     
blinker                   
cachetools                
certifi                   
charset-normalizer        
click                     
cloudpickle               
comm                      
contourpy                 
cycler                    
dash                      
dash-core-components      
dash-html-components      
dash-table                
debugpy                   
decorator                 
et_xmlfile                
executing                 
fastjsonschema            
Flask                     
fonttools                 
gitdb                     
GitPython                 
idna                      
importlib_metadata        
ipykernel                 
ipython                   
ipywidgets                
itsdangerous              
jedi                      
Jinja2                    
jsonschema                
jsonschema-specifications 
jupyter_client            
jupyter_core              
jupyterlab_widgets        
kiwisolver                
markdown-it-py            
MarkupSafe                
matplotlib                
matplotlib-inline         
mdurl                     
narwhals                  
nbformat                  
nest-asyncio              
numpy                     
openpyxl                  
packaging                 
pandas                    
parso                     
pexpect                   
pillow                    
pip                       
platformdirs              
plotly                    
prompt_toolkit            
protobuf                  
psutil                    
psycopg2-binary           
ptyprocess                
pure_eval                 
pyarrow                   
pydeck                    
Pygments                  
pyparsing                 
PyQt6                     
PyQt6-Qt6                 
PyQt6_sip                 
PySide6                   
PySide6_Addons            
PySide6_Essentials        
python-dateutil           
pytz                      
pyzmq                     
referencing               
requests                  
retrying                  
rich                      
rpds-py                   
setuptools                
shiboken6                 
six                       
smmap                     
spyder-kernels            
stack-data                
streamlit                 
tenacity                  
toml                      
tornado                   
traitlets                 
typing_extensions         
tzdata                    
urllib3                   
watchdog                  
wcwidth                   
Werkzeug                  
widgetsnbextension        
wurlitzer                 
zipp                      